$paragraph-margin-bottom: 0;
@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
  background: linear-gradient(to bottom right, navy, red);
}
.users-section {
  background: linear-gradient(to bottom right, red, navy);
}

.user-content:hover {
  background-color: rgb(16, 112, 238);
}

.selected-user {
  background-color: rgb(114, 185, 22);
}

.btn:focus {
  box-shadow: none;
}

.react-popover {
  height: 25px;
}

.react-btn {
  padding: 0 0.25rem;
  transition: 0.25s;
  font-size: 1rem;
  &:hover {
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.reactions-container {
  position: absolute;
  right: -10px;
  bottom: -25px;
  font-size: 0.9rem;
}

// upload
.dropzone {
  height: 200px;
  display: grid;
  place-content: center;
  margin: 20px auto;
  border: dotted 2px gray;
}

.isActive {
  background-color: #282c34;
  color: white;
}

.thumb {
  display: inline-flex;
  border-radius: 2;
  border: 1px solid #eaeaea;
  margin-bottom: 8;
  margin-right: 8;
  max-width: 180px;
  max-height: 250px;
  padding: 4;
  box-sizing: border-box;
}

.thumb-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16 auto;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
  margin: 0 auto;
}

.img {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
}
